  {% extends 'core/base.html' %}
{% load static %}
{% block content %}
     <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>¿Quienes somos?</h2>

                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
         
         <!--  ************************* About Us Content Start Here  ************************** -->
            <div class="about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img src="{% static 'core/images/aboout.jpg' %}">
                        </div>
                        <div class="col-md-6 col-sm-12">

                            <p>Somos un equipo de profesionales que te ofrece un espacio seguro y confortable en el que poder descubrir cómo vencer tus problemas.</p>
                            <p>Ponemos todos los recursos disponibles al servicio del individuo y de su familia para el logro del bienestar y el cambio necesario para alcanzar una buena salud emocional</p>
                            <p>Nos avalan una larga formación y años de experiencia desde donde podemos aproximarnos a tu realidad  </p>

                        </div>
                    </div>
                    
                </div>
            </div>
        
        <!-- ######## About US End ####### -->
        	<!-- ################# Mission Vision Starts Here#######################--->
  	
  	<div class="mosion-vision">
  	    <div class="container">
  	        <div class="row">
  	            <div class="col-lg-4 col-md-12">
  	                <div class="single-dd">
  	                    <h4>Nuestra misión</h4>
  	                        <p>Ayudar a todos nuestros pacientes a superior sus miedos </p>
  	                    
  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
  	                    <h4>Nuestra Visión</h4>
  	                    <p>Utilizar toda la tecnología aplicable, en todos los casos que se efectuen</p>

  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
  	                    <h4>Por que elegirnos ?</h4>
  	                    <p>Por que seguimods implicados en todos nuestros cosas como si fuese miembro de
                        </p>su caceba.

  	                    
  	                </div>
  	            </div>
  	        </div>
  	    </div>
  	</div>

{% endblock %}