{% extends 'core/base.html' %}
{% load static %}
{% block title %}Detalle de la Cita{% endblock %}
{% block content %}
    <style>label{display:none}</style>
    <br>
    <br>
    <br>
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
          <br>
          <br>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <h3 class="mb-4">Detalle cita Historica</h3>
            <p><b>Fecha de la Cita:</b>  {{fecha}}</p>
            <p><b>Especialista que atendió la  Cita:</b>  {{ nombre_especialista }} {{ apellido_especialista }} </p>
            <p><b>Informe de la  Cita:</b>  {{ informe }} </p>

            <p><a  type="button" class="btn btn-primary btn-block mt10"  href="{% url 'historico_consulta_cliente' %}" >Volver</a></p>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}