{% extends 'core/base.html' %}
{% load static %}
{% block title %}Filtrado Fechas{% endblock %}
{% block content %}

    <br>
    <br>
    <br>
    <style>.errorlist{color:red;}</style>
    <main role="main">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto mb-5">
                    <br>
                    <br>
                    <form action="" method="POST">{% csrf_token %}

                        <h3 class="mb-4">Filtrado Fechas para generar pdf:  </h3>
                         {{ form.as_p }}
                        {%  if "OK" in request.Get %}
                        <p><b>Mensaje enviado correctamente</b></p>
                    {% endif %}

                        <p><input type="submit" class="btn btn-primary btn-block" value="General Pdf"></p>

                    </form>


                </div>
            </div>
        </div>
    </main>
{% endblock %}