{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfil Cliente{% endblock %}
{% block content %}
    <style>label{display:none}</style>
    <br>
    <br>
    <br>
    <style>.errorlist{color:red;}</style>
    <main role="main">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto mb-5">
                    <br>
                    <br><h2>Historico de  Citas de cliente</h2>
                    <table class="table table-bordered">

                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Informe</th>
                            <th  scope="col">Consultar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cita in cita_list %}
                            <tr style="vertical-align: middle">


                                <td style="vertical-align: middle">{{ cita.fecha}}</td>
                                <td> <img  id="foto_carnet" src="{{ cita.idCliente.foto.url }}" style=" width: 100px;height: 120px"></td>

                                <td style="vertical-align: middle">{{ cita.informe}}</td>

                                <td style="vertical-align: middle">

                                        <a class="btn btn-default"  href="{% url 'consulta_historica' pk=cita.id %}">Detalles cita</a>

                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>
{% endblock %}