{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfil Cliente{% endblock %}
{% block content %}
    <style>label{display:none}</style>
    <br>
    <br>
    <br>
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
          <br>
          <br><h2>Listado Especialistas</h2>
        <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th scope="col">DNI</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Biografía</th>
                  <th  scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                    {% for especialista in especialista_list %}
                <tr>

                  <td>{{ especialista.dni}}</td>
                  <td>{{ especialista.nombre}}</td>
                  <td>{{ especialista.apellido}}</td>
                  <td>{{ especialista.biografia}}</td>
                  <td>
                        <a class="btn btn-default" >Editar</a>
                        <a class="btn btn-default">Borrar</a>
                  </td>

                </tr>
                    {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
  </div>

</main>
{% endblock %}