{% extends 'core/base.html' %}
{% load static %}
{% block content %}

    <!-- ################# Slider Starts Here#######################--->
     <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="{% static 'core/images/slider/slider-1.jpg ' %}"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">¿Sientes Ansiedad o Estress?</h1>
                                    <p class="slider-text hidden-xs">Podemos ayudarte a superar una amplia gama de problemas psicológicos y emocionales.</p>
                                    <a href="#" class="btn btn-success hidden-xs">Consulta todas nuestras terapias</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="{% static 'core/images/slider/slider-2.jpg ' %}"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">Es la hora de sentirse mejor.</h1>
                                <p class="slider-text hidden-xs">Podemos ayudarte a superar una amplia gama de problemas psicológicos y emocionales.</p>
                                <a href="#" class="btn btn-success hidden-xs">Visítanos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"> <img src="{% static 'core/images/slider/slider-3.jpg ' %}"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">Conoce a nuestras psiquiatras</h1>
                                <p class="slider-text hidden-xs">Nuestros psiquiatras están altamente capacitados para satisfacer tus necesidades únicas.</p>
                                <a href="#" class="btn btn-success hidden-xs">Conoce a nuestras psiquiatras</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <section class="our-blog container-fluid">
  		<div class="container">
  		<div class="session-title row">
  		    <h2>Nuestros Servicios</h2>
  		    <p></p>
  		</div>
  			<div class="col-sm-12 blog-cont">
  				<div class="row no-margin">
  					<div class="col-lg-4 col-md-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'core/images/services/service-1.jpg' %}">

							<div class="blog-single-det">
							
								<h6>Depresión</h6>
								<p></p>
								<a href="blog_single.html">
									<button class="btn btn-success btn-sm">Más Detalles</button>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'core/images/services/service-2.jpg' %}">

							<div class="blog-single-det">
								
								<h6>Ansiedad</h6>
								<p></p>
								<a href="blog_single.html">
									<button class="btn btn-success btn-sm">Más Detalles</button>
								</a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'core/images/services/service-3.jpg' %}">

							<div class="blog-single-det">
							
								<h6>Relaciones personales</h6>
								<p></p>
								<a href="blog_single.html">
									<button class="btn btn-success btn-sm">Más Detalles</button>
								</a>
							</div>
						</div>
					</div>

					
  				</div>
  			</div>
  			
  		</div>
  	</section>  
  	
  	<!-- ################# Doctors Message Starts Here#######################--->


    <div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
                <div class="row">


                    <div class="col-md-6 col-sm-12 doc-img">
                        <img  src="{% static 'core/images/doctt.png' %}">
                    </div>
                    <div class="col-md-6 col-sm-12 doc-det">
                        <h2>Hola, mi nombre es Eduardo</h2>
                        <span>Psicólogo en Cádiz</span>

                        <p>Quiero ayudarte a solucionar tus problemas de estado de ánimo, ansiedad, estrés, falta de control, pérdida de un ser querido, o cualquier otro problema que esté alterando tu día a día </p>

                        <h4>Llamamé : +34 666 999 888</h4>
                    </div>
                </div>
            </div>

        </div>

    </div>

      	<!-- ################# Mission Vision Starts Here#######################--->
  	<!--
  	<div class="mosion-vision">
  	    <div class="container">
  	        <div class="row">
  	            <div class="col-lg-4 col-md-12">
  	                <div class="single-dd">
  	                    <h4>Our Mission</h4>
  	                    <p>Lorem Ipsum is simply text of the Lorem Ipsum is simply my text of the printing and Ipsum is simply text of the Ipsum is simply text of thetypesetting Ipsum is simply text of the stry simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply text of the Lorem Ipsum is simply my text of </p>
  	                    
  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
  	                    <h4>Our Vision</h4>
  	                    <p>Lorem Ipsum is simply text of the Lorem Ipsum is simply my text of ply text of the Ipsum is simply text of thetypesetting Ipsum is simply text of the stry simply <br>dummy text of the printing and typesetting industry. Lorem Ipsum is simply text of the Lorem Ipsum is simply my text of </p>
  	                    
  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
  	                    <h4>Why Choos Us ?</h4>
  	                    <p>Effective Psychological Therapy with a minimum of 5 years post qualification experience. </p>
  	                    
  	                    <p>Ipsum is simply text of the Lorem Ipsum is simply my text of ply text</p>
  	                    
  	                    <p>Lorem Ipsum is simply text of the Lorem Ipsum is simply my text of ply text of the Ipsum f the Lorem Ipsum is simply my text of ply text </p>
  	                    
  	                    
  	                </div>
  	            </div>
  	        </div>
  	    </div>
  	</div>
  	-->
 	<!-- ################# Our Session Starts Here#######################--->  	
  	
  	<section class="sesion-type">
  	    <div class="container">
             <div class="session-title row">
  		    <h2>Nuestras Sesiones</h2>
  		    <p></p>
  		</div>
  	        <div class="row">
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'core/images/session/therapy-1.jpg' %}">
  	                    <p>Individual Therapy</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'core/images/session/therapy-2.jpg' %}">
  	                    <p>Terapia de Pareja</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'core/images/session/therapy-3.jpg' %}">
  	                    <p>Sesiones Online</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'core/images/session/therapy-4.jpg' %}">
  	                    <p>Terapia de Pareja</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'core/images/session/therapy-5.jpg' %}">
  	                    <p>Terapia de Grupo</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess sess-ok">
  	                   <h4>Comienza tu sesion hoy</h4>
  	                    <p>inicia tu primer paso para sentirte mejor. </p>
  	                    <button class="btn btn-success">Reservar sesion</button>
  	                </div>
  	            </div>
  	        </div>
  	    </div>
  	</section>
  	
  	<!-- ################# Testimonial Starts Here#######################--->
    
{% endblock %}
