{% extends 'core/base.html' %}
{% load static %}
{% block title %}Enviar Mensaje{% endblock %}
{% block content %}
    <script>
        $(document).ready(function() { $("#idReceptor").select2(); });
    </script>
    <style>label{display:none}</style>
    <br>
    <br>
    <br>
    <style>.errorlist{color:red;}</style>
    <main role="main">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto mb-5">
                    <br>
                    <br>
                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <h3 class="mb-4">Enviar Mensaje</h3>
                        <p>Emisor :   {{ user }} </p>
                        <input type="hidden"  value = {{ user }} name='idEmisor' >
                        <p>Receptor :</p>
                    {{ especialista.nombre }}
                        <select class="col-md-9 mx-auto mb-5 js-example-basic-multiple" name="idReceptor" id="idReceptor">
                            <option value="0">seleccione un Receptor</option>
                            {% for especialista in especialistas %}
                                <option value="{{ especialista.id}}">{{ especialista.id }}</option>

                            {% endfor %}
                        </select>
                    {{mensaje.idReceptor.ClienteidUsuario.nombre}}
                        <p>Asunto :</p>
                        {{ form.asunto }}
                        <p>Texto :</p>
                        {{ form.texto }}

                        <p><input type="submit" class="btn btn-primary btn-block" value="Actualizar"></p>
                    </form>

                    <!--SCRIP DE SELECT2-->
                    <script>
                        // In your Javascript (external .js resource or <script> tag)
                        $(document).ready(function() {
                            $('#idReceptor').select2();
                        });

                </script>



                </div>
            </div>
        </div>
    </main>

{% endblock %}