{% extends 'core/base.html' %}
{% load static %}
{% block title %}Borrar mensaje Recibido{% endblock %}
{% block content %}
    <style>label{display:none}</style>
    <br>
    <br>
    <br>
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
          <br>
          <br>
        <div>
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <h3 class="mb-4">Borrar Mensaje</h3>
                <p>¿Estás seguro de que quieres borrar el mensaje ?</p>
                <p><b>Fecha : </b> {{ object.fecha }} </p>
                 {% if object.idEmisor.is_cliente  %}
                            <p><b>Emisor :</b>   {{ object.idEmisor.ClienteidUsuario.nombre }} {{ object.idEmisor.ClienteidUsuario.apellido }} </p>
                        {% else  %}
                            <p><b>Emisor :</b>    {{ object.idEmisor.ClienteidUsuario.nombre }} {{ object.idEmisor.ClienteidUsuario.apellido }} </p>
                        {% endif  %}
                <p><b>Asunto :</b> {{ object.asunto }}</p>

          <p><input type="submit" class="btn btn-primary btn-block" value="Sí, Borrar la consulta"></p>
        </form>

        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}