 {% extends 'core/base.html' %}
{% load static %}
{% block content %}
     <br>
    <br>
    <br>
     <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>Servicios</h2>

                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
         
        <!-- ################# Our Session Starts Here#######################--->  	
  	
  	<section class="sesion-type">
  	    <div class="container">
           
  	        <div class="row">
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'core/images/session/therapy-1.jpg'%}" alt="">
  	                    <p>Terapia individual</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'core/images/session/therapy-2.jpg'%}" alt="">
  	                    <p>Terapia de pareja</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'core/images/session/therapy-3.jpg'%}" alt="">
  	                    <p>Sesiones online</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'core/images/session/therapy-4.jpg'%}" alt="">
  	                    <p>Terapia Grupal</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'core/images/session/therapy-5.jpg'%}" alt="">
  	                    <p>Grupos de todas las edades</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess sess-ok">
  	                   <h4>Inicia tu sesión hoy</h4>
  	                    <p>Toma el primer paso para sentirte mejor </p>
  	                    <button class="btn btn-success">Reservar ahora</button>
  	                </div>
  	            </div>
  	        </div>
  	    </div>
  	</section>
 {% endblock %}


